doctype html
html(lang="en")
    head
        script(src="https://kit.fontawesome.com/df9fbda19f.js" crossorigin="anonymous")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Gantari:wght@100;300&family=Jua&family=Open+Sans:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/public/reset.css")
        link(rel="stylesheet", href="/public/styles.css")
        meta(charset="UTF-8")
    body
        main
            div#welcome
                form
                    div#inputBox
                        input#roomName(placeholder="room name", required, type ="text")
                        input#nickname(type="text",placeholder="nickname", required)
                        div
                            button Enter room
                ul
            section#section
                section#section1     
                    div#call 
                        div#myStream
                            div
                                video#myFace(autoplay, playsinline, width="350",height="350") 
                                div#btns
                                    button#mute
                                        i.fas.fa-volume-mute
                                    button#camera 
                                        i.fas.fa-video
                                    select#cameras
                            div
                                video#peerFace(autoplay,playsinline, width="350", height="350")
                section#section2
                    div#room
                        div#tab
                            h3
                            ul
                            form#msg
                                input(type="text",placeholder="type message..", required)
                                button
                                    i.fas.fa-paper-plane
        script(src="/socket.io/socket.io.js") 
        script(type="module" src="/public/js/app.js")
        