html {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(45deg, Violet, Orange);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome form {
  width: 30%;
  height: 40vh;
  background-color: white;
  border-radius: 40px;
}
#inputBox {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#inputBox div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#welcome form input {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border-color: rgb(221, 221, 211);
  margin-bottom: 10px;
  font-size: large;
  border-width: 1px;
}

#welcome form button {
  height: 50px;
  border-radius: 30px;
  border-style: solid;
  border-width: 0px;
  font-size: large;
  background-color: pink;
  margin-top: 10px;
}
input {
  text-align: center;
}
section {
  width: 95%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 {
  width: 40%;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#section2 {
  width: 60%;
  background-color: #fafbff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#btns {
  display: flex;
  justify-content: center;
}
#mute {
  background-color: pink;
  border-width: 0;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 50px;
  border-right: 1px solid black;
}
#camera {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 0;
  background-color: pink;
  width: 50px;
}
select {
  border-radius: 20px;
  margin-left: 10px;
  border-width: 0;
  background-color: pink;
  padding: 10px;
}
#room {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#room #tab {
  width: 100%;
  padding: 10px;
}

#msg {
  width: 56%;
  position: fixed;
  bottom: 100px;
  padding: 5px;
  height: 30px;
}
#msg input {
  width: 90%;
  text-align: left;
  padding: 3px;
  border-radius: 20px;
  border-color: #80808047;
  height: 30px;
}
#msg button {
  width: 8%;
  background-color: #fafbff;
  border: 0;
  font-size: x-large;
}
#msg i {
  color: rgb(212, 102, 139);
  font-size: large;
}
#room h3 {
  font-weight: bold;
  font-size: 40px;
  font: small-caps bold 24px/1 sans-serif;
  color: orange;
  display: flex;

  align-items: center;
  position: fixed;
  top: 44px;
  width: 56%;
  height: 10vh;
}
li {
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 30%;
  margin-bottom: 10px;
}
.You {
  padding: 10px;
  border-radius: 20px;
  width: 26%;
  position: relative;
  left: 550px;
}
#room ul {
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
#room li {
  font-family: "Open Sans", sans-serif;
  background-color: #fafbff;
}
ul h4 {
  padding: 10px;
  padding-bottom: 0px;
  font-size: 18px;
}
ul div {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.You div {
  background-color: #bbb2f7;
}

::-webkit-scrollbar {
  display: none;
}
